/* 
Author		: Jeff Lynn
Created		: 2013.09.26
Last updated: 2013.11.15
Purpose		: defines the layout for the elements of the whole website
NOTE		: All sizes have been set to "em" - this is a scalable size that works for all browsers.  1em = 12pt = 16px. s
*/

/* Set the standard colours */
$border-colour: 			#cac9ce;
$font-colour: 				#aeafb3;
$button-colour: 			darkgray;
$contact-email-colour: 		#e47f27;
$home-menu-colour: 			#ee3d37;
$about-us-menu-colour: 		#aa7b51; 
$what-we-do-menu-colour: 	#21aae0;
$stories-menu-colour: 		#ed3b37; 
$applications-menu-colour:	#009345;
$how-you-can-help-menu-colour: #c5776b;
$contact-us-menu-colour: 	#e47f27;
$favourites-menu-colour: 	#3fa8bb;


/* Define the overall formatting */
body {
  font-family: Times, serif;
  color: $font-colour;
  font-size: 100%;
  width: 60em;
  margin-left: auto;
  margin-right: auto;  
}

/* Define the formatting for the standard elements*/
a {
  font-size: 0.8em;
}

a.note {
  display:none;
}

a.right_aligned{
	float:right;
}

a.contact_email{
	text-decoration:none;
	color: $contact-email-colour;
	font-size: 1em;
}

a.contact_email:hover{
	text-decoration:underline;
}

p { 
  font-family: times; 
  font-size: 0.9em; 
  margin-bottom: 1em; 
}

p.story_title {
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
}

h1
{
  font-size: 1.5em;
  margin-bottom: .125em;
}

h2{
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: normal;
  color: DimGray;
}

a.link_reference { 
  margin-bottom: 2em;
  color: $favourites-menu-colour;
  text-decoration:none;
  font-size: 1em;
}

a.link_reference:hover{
	text-decoration:underline;
}


/* Get rid of Refinery's default title*/
#body_content_title {
  display: none;
}

/* and get rid of Refinery's default header*/
header {
  display:none;
}

/* Now define the formatting for the "page parts".  These can be seen as boxes placed on the screen - see http://www.w3schools.com/css/css_boxmodel.asp for a generic description */
#header_left {
  float:left; 
  width: 14em; /* Need to define the height and width as the image renders at slightly different sizes in different internet browsers */ 
  height: 10em;
  padding-bottom: 0.5em;
  border-right: 0.1em solid $border-colour; 
  border-bottom: 0.1em solid $border-colour;
}

#header_right {
  float: left;
  width: 30em; /* Need to define the height and width as the image renders at slightly different sizes in different internet browsers */ 
  height: 4em;
  padding-left: 1.5em;
  padding-right: 14.4em;
  padding-bottom: 2em; 
  padding-top: 4.5em;
  border-bottom: 0.1em solid $border-colour;
}

#left_menu {
  clear:both;
  float:left;
  min-height: 21em; /* Required for the alignment of the Stories etc */
  width: 11em;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 0.5em;
  display: list-item;
  list-style: none;
  text-decoration: none;
  color: $font-colour;
}

/* Ensure that the list items (li) do not take on the default hyperlink and list item formatting (bullet points and underlining) */
#left_menu li {
	display:list-item;
    list-style: none;
    text-decoration: none;
}

/* Set the text formatting for the list elements */
#left_menu li a{
  display: list-item;
  list-style: none;
  color: $font-colour;
  padding-bottom: 0.5em;
  font-size: 1em;
  font-family: times;
  text-decoration: none; /* removes the underline from the hyperlink */
}

#left_menu li a:hover{
  text-decoration:underline; /* ...and puts in back in again when mouse hovers over item */
};

/* Sets the specific "selected" colour for each menu item */
#left_menu li.index a{ color: $home-menu-colour; }
#left_menu li.about_us a{ color: $about-us-menu-colour; }
#left_menu li.what_we_do a{ color: $what-we-do-menu-colour; }
#left_menu li.stories a{ color: $stories-menu-colour; }
#left_menu li.new a{ color: $applications-menu-colour; }
#left_menu li.how_you_can_help a{ color: $how-you-can-help-menu-colour; }
#left_menu li.contact_us a{ color: $contact-us-menu-colour; }
#left_menu li.favourites a{ color: $favourites-menu-colour; }

#main_photo {
  float: left;
  padding: 1.5em;
  border-left: 0.1em solid $border-colour;
}


#page_title {
  float:left;
  clear:right; /* Note that "clear right" ensures that "main content right" takes a new line */
  width: 40em; /* Note that this width ensures that "main content left" takes a new line */
  padding-left: 1.5em;
  border-left: 0.1em solid $border-colour;
}
  
#main_content_left { 
  float: left; 
  min-height: 16em;
  width: 20em; 
  padding-left: 1.5em; 
  border-left: 0.1em solid $border-colour;  
  padding-right: 2em;
}

#main_content_right {
  float: left; 
  min-height: 16em;
  width: 20em; 
}

#main_content_full_width { 
  float: left; 
  min-height: 26em;
  width: 44.4em; 
  padding-left: 1.5em; 
  border-left: 0.1em solid $border-colour;  
}

/* Layout for the Home page */
#social_icons {
  margin-left: 14em;
  padding-left: 1.5em; 
  border-left: 0.1em solid $border-colour;  
  
}

/* Layout for the Stories */
#body_content {
    #side_body { /* This is the Story menu */
	  min-height: 31em;
  	  float: left;
  	  padding-right: 0.5em;
      border-left: 0.1em solid $border-colour;
      width: 7em;
  	  li {
		display: list-item;
  	    list-style: none;
  	  }
  	  li a {
		color: $font-colour;
        text-decoration: none;
  	    font-size: 1em;
  	    font-family: times;
  	    line-height:200%;
  	  }
	
  	  li.selected a{
  		color: $stories-menu-colour;
  	  }
    }  

    #body { /* This is the photo, title and story */
	  float: right; /* This needs to float to the right of the Stories Menu */
	  width: 28em;
	  padding: 1.5em;
	  padding-right: 6em;
  	  min-height: 28em;
	  border-left: 0.1em solid $border-colour;
    }
	
}


/* We draw the bottom left corner of the page by adding some invisible (white) text to the footer with a partial border around it */
footer p {
  float: left;
  font-size: 1em;
  color: white;  /* Hack - it needs some text for the border to show but we do not want to see the text */
  width: 14em;
  height: 6em;
  border-right: 0.1em solid $border-colour;
  margin-top: 0px;
}

footer { 
  border-top: 0.1em solid $border-colour;
}

footer ul {
  list-style-type: none;
  float: left;
  padding-left: 1em;
}

footer li {
  float: left;
  margin-right: 1em;
}

footer li a { 
  display: list-item;
  list-style: none;
  text-decoration: none;
  color: $font-colour; 
  font-size: 1em; 
  font-family: times; 
}

footer li a:hover {
  text-decoration:underline;
}

/* Set the formatting for Forms */

/* Extra (invisible) page section at the top of the Grant Application form to produce the correct alignment */
#padding_above_applications_page_title {
    float: left;
	height: 1em;
    width: 44.4em;
    color: white;
    border-left: 0.1em solid $border-colour; 	
}

/* Explanation at the top of the Grant Application form */
#explanation {
    float: left; 
    width: 44.4em; 
	padding-left: 1.5em; 
    border-left: 0.1em solid $border-colour; 
}

#body_content.no_side_body {
	#body {
	float: left;
    width: 28em;
    padding: 1.5em;
    margin-left: 14em;
    min-height: 28em;
    border-left: 0.1em solid $border-colour;
} } 

/* "input" includes the strings (single line) and submit button - "textarea" includes the text boxes (multiline) */
input, textarea {
  clear: left; /* The clear property specifies which sides of an element where other floating elements are not allowed. */
  float: left;
  width: 39.9em;
  margin-bottom: 1.5em;
}

label {
  float: left;
  clear: right; 
}

input[type='checkbox'] {
  width: 2em;
  float: left;
  margin-bottom: 2em;
}

/* This is the "Submit" button */
input[type='submit'] {
  clear: left; /* The clear property specifies which sides of an element where other floating elements are not allowed. */
  float: left;
  width: 6em;
  color: $button-colour;
  font-size: 1em; 
  font-family: times; 
}

/* Copied from http://cdn-images.mailchimp.com/embedcode/classic-081711.css for the Newsletter Sign-up form */
/* MailChimp Form Embed Code - Classic - 08/17/2011 */
#mc_embed_signup form {font-family:times; display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {text-transform:none; font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#c60; font-size:200%;}
#mc_embed_signup .mc-field-group .asterisk {position:absolute; top:25px; right:10px;}        
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}