/* 
Author		: Jeff Lynn
Created		: 2013.09.26
Last updated: 2013.10.31
Purpose		: defines the layout for the elements of the whole website
NOTE		: All sizes have been set to "em" - this is a scalable size that works for all browsers.  1em = 12pt = 16px. s
*/

/* Set the standard colours */
$border-colour: 			#cac9ce;
$font-colour: 				#aeafb3;
$button-colour: 			darkgray;
$contact-email-colour: 		#e47f27;
$home-menu-colour: 			#ee3d37;
$about-us-menu-colour: 		#aa7b51; 
$what-we-do-menu-colour: 	#21aae0;
$stories-menu-colour: 		#ed3b37; 
$applications-menu-colour:	#009345;
$how-you-can-help-menu-colour: #c5776b;
$contact-us-menu-colour: 	#e47f27;
$favourites-menu-colour: 	#3fa8bb;


/* Define the overall formatting */
body {
  font-family: Times, serif;
  color: $font-colour;
  font-size: 100%;
  width: 60em;
  margin-left: auto;
  margin-right: auto;  
}

/* Define the formatting for the standard elements*/
a {
  font-size: 0.8em;
}

a.note {
  display:none;
}

a.right_aligned{
	float:right;
}

a.contact_email{
	text-decoration:none;
	color: $contact-email-colour;
	font-size: 1em;
}

a.contact_email:hover{
	text-decoration:underline;
}

p { 
  font-family: times; 
  font-size: 0.9em; 
  margin-bottom: 1em; 
}

p.story_title {
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
}

h1
{
  font-size: 1.5em;
  margin-bottom: .125em;
}

h2{
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: normal;
  color: DimGray;
}

a.link_reference { 
  margin-bottom: 2em;
  color: $favourites-menu-colour;
  text-decoration:none;
  font-size: 1em;
}

a.link_reference:hover{
	text-decoration:underline;
}


/* Get rid of Refinery's default title*/
#body_content_title {
  display: none;
}

/* and get rid of Refinery's default header*/
header {
  display:none;
}

/* Now define the formatting for the "page parts".  These can be seen as boxes placed on the screen - see http://www.w3schools.com/css/css_boxmodel.asp for a generic description */
#header_left {
  float:left; 
  width: 14em; /* Need to define the height and width as the image renders at slightly different sizes in different internet browsers */ 
  height: 10em;
  padding-bottom: 0.5em;
  border-right: 0.1em solid $border-colour; 
  border-bottom: 0.1em solid $border-colour;
}

#header_right {
  float: left;
  width: 30em; /* Need to define the height and width as the image renders at slightly different sizes in different internet browsers */ 
  height: 4em;
  padding-left: 1.5em;
  padding-right: 14.4em;
  padding-bottom: 2em; 
  padding-top: 4.5em;
  border-bottom: 0.1em solid $border-colour;
}

#left_menu {
  clear:both;
  float:left;
  min-height: 21em; /* Required for the alignment of the Stories etc */
  width: 11em;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 0.5em;
  display: list-item;
  list-style: none;
  text-decoration: none;
  color: $font-colour;
}

/* Ensure that the list items (li) do not take on the default hyperlink and list item formatting (bullet points and underlining) */
#left_menu li {
	display:list-item;
    list-style: none;
    text-decoration: none;
}

/* Set the text formatting for the list elements */
#left_menu li a{
  display: list-item;
  list-style: none;
  color: $font-colour;
  padding-bottom: 0.5em;
  font-size: 1em;
  font-family: times;
  text-decoration: none; /* removes the underline from the hyperlink */
}

#left_menu li a:hover{
  text-decoration:underline; /* ...and puts in back in again when mouse hovers over item */
};

/* Sets the specific "selected" colour for each menu item */
#left_menu li.index a{ color: $home-menu-colour; }
#left_menu li.about_us a{ color: $about-us-menu-colour; }
#left_menu li.what_we_do a{ color: $what-we-do-menu-colour; }
#left_menu li.stories a{ color: $stories-menu-colour; }
#left_menu li.new a{ color: $applications-menu-colour; }
#left_menu li.how_you_can_help a{ color: $how-you-can-help-menu-colour; }
#left_menu li.contact_us a{ color: $contact-us-menu-colour; }
#left_menu li.favourites a{ color: $favourites-menu-colour; }

#main_photo {
  float: left;
  padding: 1.5em;
  border-left: 0.1em solid $border-colour;
}


#page_title {
  float:left;
  clear:right; /* Note that "clear right" ensures that "main content right" takes a new line */
  width: 40em; /* Note that this width ensures that "main content left" takes a new line */
  padding-left: 1.5em;
  border-left: 0.1em solid $border-colour;
}
  
#main_content_left { 
  float: left; 
  min-height: 16em;
  width: 20em; 
  padding-left: 1.5em; 
  border-left: 0.1em solid $border-colour;  
  padding-right: 2em;
}

#main_content_right {
  float: left; 
  min-height: 16em;
  width: 20em; 
}

#main_content_full_width { 
  float: left; 
  min-height: 26em;
  width: 44.4em; 
  padding-left: 1.5em; 
  border-left: 0.1em solid $border-colour;  
}

/* Layout for the Home page */
#social_icons {
  margin-left: 14em;
  padding-left: 1.5em; 
  border-left: 0.1em solid $border-colour;  
  
}

/* Layout for the Stories */
#body_content {
    #side_body { /* This is the Story menu */
	  min-height: 31em;
  	  float: left;
  	  padding-right: 0.5em;
      border-left: 0.1em solid $border-colour;
      width: 7em;
  	  li {
		display: list-item;
  	    list-style: none;
  	  }
  	  li a {
		color: $font-colour;
        text-decoration: none;
  	    font-size: 1em;
  	    font-family: times;
  	    line-height:200%;
  	  }
	
  	  li.selected a{
  		color: $stories-menu-colour;
  	  }
    }  

    #body { /* This is the photo, title and story */
	  float: right; /* This needs to float to the right of the Stories Menu */
	  width: 28em;
	  padding: 1.5em;
	  padding-right: 6em;
  	  min-height: 28em;
	  border-left: 0.1em solid $border-colour;
    }
	
}


/* We draw the bottom left corner of the page by adding some invisible (white) text to the footer with a partial border around it */
footer p {
  float: left;
  font-size: 1em;
  color: white;  /* Hack - it needs some text for the border to show but we do not want to see the text */
  width: 14em;
  height: 6em;
  border-right: 0.1em solid $border-colour;
  margin-top: 0px;
}

footer { 
  border-top: 0.1em solid $border-colour;
}

footer ul {
  list-style-type: none;
  float: left;
  padding-left: 1em;
}

footer li {
  float: left;
  margin-right: 1em;
}

footer li a { 
  display: list-item;
  list-style: none;
  text-decoration: none;
  color: $font-colour; 
  font-size: 1em; 
  font-family: times; 
}

footer li a:hover {
  text-decoration:underline;
}

/* Set the formatting for Forms */

/* Extra (invisible) page section at the top of the Grant Application form to produce the correct alignment */
#padding_above_applications_page_title {
    float: left;
	height: 1em;
    width: 44.4em;
    color: white;
    border-left: 0.1em solid $border-colour; 	
}

/* Explanation at the top of the Grant Application form */
#explanation {
    float: left; 
    width: 44.4em; 
	padding-left: 1.5em; 
    border-left: 0.1em solid $border-colour; 
}

#body_content.no_side_body {
	#body {
	float: left;
    width: 28em;
    padding: 1.5em;
    margin-left: 14em;
    min-height: 28em;
    border-left: 0.1em solid $border-colour;
} } 

/* "input" includes the strings (single line) and submit button - "textarea" includes the text boxes (multiline) */
input, textarea {
  clear: left; /* The clear property specifies which sides of an element where other floating elements are not allowed. */
  float: left;
  width: 39.9em;
  margin-bottom: 1.5em;
}

label {
  float: left;
  clear: right; 
}

input[type='checkbox'] {
  width: 2em;
  float: left;
  margin-bottom: 2em;
}

/* This is the "Submit" button */
input[type='submit'] {
  clear: left; /* The clear property specifies which sides of an element where other floating elements are not allowed. */
  float: left;
  width: 6em;
  color: $button-colour;
  font-size: 1em; 
  font-family: times; 
}